build
node_modules
.temp
.cache

wiki/.vuepress/dist
sci/.vuepress/dist
iron/.vuepress/dist

/node_modules
/.pnp
.pnp.js
.pnp.cjs
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

package-lock.json
pnpm-lock.yaml

.DS_Store