@font-face {
  font-family: "LXGW Bright";
  src: url("../../fonts/LXGWBright-Regular.woff2") format("woff2"),
    url("../../fonts/LXGWBright-Regular.woff") format("woff"),
    url("../../fonts/LXGWBright-Regular.ttf") format("truetype");
  font-display: swap;
}
